.page {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/background.jpg");
  background-size: cover;
  background-position: center;
}

.page__content {
  max-width: 1360px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
}
