.search__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 608px;
  height: 64px;
  margin: 0 auto 32px auto;
  padding: 0 0;
  transition:
    width 0.2s,
    margin 0.2s,
    padding 0.2s;
}

@media (max-width: 1000px) {
  .search__container {
    width: 90vw;
    max-width: 520px;
    margin: 0 auto 28px auto;
  }
}

/* @media (max-width: 320px) {
  .search__container {
    width: 98vw;
    max-width: 98vw;
    margin: 0 auto 12px auto;
  }
} */

.search__input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 16px;
}

.search__button {
  padding: 10px 20px;
  border: none;
  background-color: #2f71e5;
  color: #fff;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  height: 64px;
  width: 168px;
}

.search__button:hover {
  background-color: #347eff;
}

.search__button:active {
  background-color: #2a65cc;
}

.search__error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 8px;
  margin-left: 20px;
  position: absolute;
}
